.card:hover {
    cursor: pointer;
}

.card .additional-info {
    display: none;
}

.card.active .additional-info {
    display: block;
}

.card-img-top {
    margin: auto;
    width: 100px;
    height: 100px;
}